/* First used in index.html (Main Page) */
body{
    background-color: rgb(41, 74, 41);
    color: bisque;
    margin: 0;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:rgb(63, 100, 63);
    color: rgb(255, 255, 255);
    padding: 0 15px;
    border-bottom: 2px solid black;

}


@media only screen and (max-width: 450px){
    header .display ul {
        display: none;
        visibility: hidden;
    }

    .sidebar{
        background-color: rgb(63, 100, 63);
        height: 120vh;
        width: 100%;
        max-width: 250px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: .3s ease;
        font-size: 2rem;
    }

    .sidebar ul{
        display:flex;
        flex-wrap:wrap;
        margin:0;
        padding-right:100px;


    }
    .sidebar li{
        list-style-type: none;
        flex-basis: 33%;
        padding: 20px 15px;
        box-sizing: border-box;
        text-align:left;
    }
    .sidebar.active{
        right: 0;
    }

    .ham-menu nav{
        padding: 1rem;
        display: flex;
        background-color: rgb(63, 100, 63);

    }
    .ham-menu{
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
    }

    .ham-menu:hover{
        cursor: pointer;
    }

    .ham-menu span{
        height: 5px;
        width: 100%;
        background-color: rgb(175, 175, 175);
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }

    .ham-menu span:nth-child(1){
        top: 25%;
    }

    .ham-menu span:nth-child(3){
        top: 75%;
    }

    .ham-menu.active span:nth-child(1){
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .ham-menu.active span:nth-child(2){
        opacity: 0;
    }

    .ham-menu.active span:nth-child(3){
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
   
}



@media only screen and (min-width: 450px) {
    .ham-menu{
        visibility: hidden;
        
    }
    .sidebar{
        display: none;
    }
}


ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

header li{
    padding-left: 30px;
}

a{
    color: rgb(205, 205, 205);
    text-decoration: none;

}

.fullscreen-section {
    width: 100%;
    scroll-snap-align: start;
    padding: 30vh 0;
}
.fullscreen-section2 {
    width: 100%;
    scroll-snap-align: start;
    padding: 10vh 0;
}

.text-content {
    animation: fadeIn 1.5s ease-out;
}
main{
    margin: 0 auto;
    max-width: 800px;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title{
    font-size: 50px;
}

.subtitle{
    font-size: 25px;
}

p.Example{
    margin: 0;
}

li{
    padding-left: 15px;
}

main li{
    border: 3px solid black;
    border-radius: 15px;
    background-color: rgb(63, 100, 63);
    margin: 5px;
    justify-content: space-evenly;
}

.project-details{
    width: 100%;
    min-width: 150px;
    flex-wrap: wrap;
    max-width: 800px;
    line-height: 1.6;
    justify-content: center;
       
}

.project-details li{
    width: 100%;
    height: auto;
    max-width: 229px;
    

}
.Picture li{
    max-width: 800px;
    border: 0;
    border-radius: 15px;
    margin: 5px;
    padding: 0;
    height: auto;
}

.Picture img {
    border: 5px solid rgb(63, 100, 63);
    border-radius: 15px;

}

ol.compact-list{
    padding-left: 20px;
    text-align: left;
    width: auto;
    height: auto;

}

ol.compact-list li {
    padding-left: 0.4em;   
    text-indent: -0.4em;
    margin-left: 0;
    border: 0;
    border-radius: 0;
    width: 90%;
    background-color: transparent;
}

dl{
    list-style:disc;
}

footer{
    background-color:rgb(41, 74, 41);
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
}

footer nav ul{
    justify-content: center;
}
/* First used in About me */
.center{
    justify-content: center;
    display: flex;
}

.bio-content, .description {
    max-width: 800px;
    line-height: 1.6;
}
  
  
.bio-section{
    margin-bottom: 1.5rem;
}
  
.highlight {
    padding: 1rem;
    border-left: 3px solid #3498db;
}

.bio-sectionHighlight{
    list-style:circle;
}

.bio-sectionHighlight li{
    border: 0;
    border-radius: 0;
    background-color: transparent;
    max-width: 800px;
}

/* First used in Contact Me */
.contactList{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.contactList ul{
    display: flex;
    width: 100%;
    min-width: 150px;
    flex-wrap: wrap;
    max-width: 800px;
    line-height: 1.6;
    justify-content: center;
}

.contactList li{
    border-radius: 8px;
    border: 0;
    border-radius: 15px;
    background-color: transparent;
}

form{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0, auto;
}
::placeholder {
    color: white;
    opacity: .5;
  }
.textBox{
    background-color: rgb(63, 100, 63);
    color: white;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.submit{
    background-color: rgb(63, 100, 63);
    color: white;
    cursor: pointer;
    width: 40%;
    text-align: center;
}

.submit:hover{
    background-color: tan;
    color: black;
}

input, textarea{
    margin: 0;
    text-align: left;
}

.link{
    color:black;
}

.button{
    padding: 0 0;
    height: 34px;
    cursor: pointer;

}

